<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet"  href="forgotPasswordCandidateStyle.css">
</head>
<body>

<div>
    <h2>Forgot Your Password?</h2>
    <p>Don't worry, it happens to the best of us. Let's get you back on track!</p>

    <table>
        <tr>
            <td>
                <p>Hi,</p>
                <p>We received a request to reset your password for your buxonline account. If you didn't make this request, you can safely ignore this email.</p>
                <p>To reset your password, click the button below:</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{frontUrl}}/auth/password/forgot?token={{token}}">Reset Password</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>If you didn't request a password reset, please disregard this email.</p>
                <p>Regards,</p>
                <p>Your Buxonline Team</p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
