[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    E1101, # no-member
    R0901, # too-many-ancestors
    E0401, # import-error
